<!DOCTYPE html>
<html>

<head>

<title>ODI Chase Predictor</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


<h1>🏏 Welcome to ODI Chase Predictor Model</h1>


<p>
AI powered cricket prediction system.
Predict the winning probability of a chasing team
using Machine Learning.
</p>



<form action="/predict" method="post">


<input name="target" placeholder="Target Runs">

<input name="total_balls" placeholder="Balls Completed">

<input name="curr_run" placeholder="Current Runs">

<input name="curr_wicket" placeholder="Wickets Fallen">

<input name="balls_left" placeholder="Balls Left">

<input name="req_runs" placeholder="Required Runs">

<input name="wick_left" placeholder="Wickets Left">

<input name="curr_rr" placeholder="Current Run Rate">

<input name="req_rr" placeholder="Required Run Rate">



<button>
Predict Winner 🚀
</button>


</form>


</div>


</body>

  </html>
