<!DOCTYPE html>
<html>

<head>

<title>ODI Chase Predictor</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


<h1>🏏 Welcome to ODI Chase Predictor Model</h1>


<p>
AI powered cricket prediction system.
Predict winning probability using Machine Learning.
</p>



<form action="/predict" method="post">


<input type="number" name="target" placeholder="Target Runs" required>


<input type="number" name="total_balls" placeholder="Balls Completed" required>


<input type="number" name="curr_run" placeholder="Current Runs" required>


<input type="number" name="curr_wicket" placeholder="Wickets Fallen" required>



<button>
Predict Winner 🚀
</button>


</form>


</div>


</body>

</html>
